<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<nav th:fragment="nav" class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">Klausimynas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" th:classappend="${ #httpServletRequest.getRequestURI()=='/'?'active':'' }"  href="/">Pagrindinis puslapis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:classappend="${ #httpServletRequest.getRequestURI()=='/quizz/'?'active':'' }" href="/quizz/">Klausimynai</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:classappend="${ #httpServletRequest.getRequestURI()=='/user/'?'active':'' }" href="/user/">Mano profilis</a>
        </li> 
        
      </ul>
      
      <div class="d-flex" sec:authorize="isAuthenticated()">
      	<a href="/logout" class="btn btn-secondary">Atsijungti</a>
      </div>
       <div class="d-flex" sec:authorize="!isAuthenticated()">
      	<a href="/login" class="btn btn-secondary">Prisijungti</a>
      </div>
      <div class="d-flex" sec:authorize="!isAuthenticated()">
      	<a href="/user/new" class="btn btn-secondary">Registracija</a>
      </div>
    </div>
    </div>

</nav>

</html>