<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Klausimynas</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div th:insert="fragments/navigation.html :: nav"></div>
	<div class="container mt-3">
		<a href="/quizz/new" class="btn btn-success">Pridėti naują klausimyną</a>
		<div class="row">
			
				<div th:each="quizz:${quizzes}">
					<div class="col-md-12 mt-3 block">
					<div class="card">					
						<div class="card-header" th:text=${quizz.name}></div>
						<div class="card-body">
							Kalba: <span th:text="${quizz.language.language}"></span> <br>
							Kūrejas: <span th:text="${quizz.user.username}"></span> <br>
							Tema: <span th:text="${quizz.theme.theme}"></span> <br>
							<a th:href="'/quizz/play/'+${quizz.id}" class="btn btn-secondary">Žaisti</a>
			
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>