<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Klausimynas</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="/css/styles.css">

</head>
<body>
	<div th:insert="fragments/navigation.html :: nav"></div>
	<h1>Temų sąrašas</h1>
	<div class="container mt-3">
		<a href="/user/theme/new" class="btn btn-success">Pridėti naują temą</a>
		<a href="/user/" class="btn btn-secondary">Grįžti į profilio peržiūrą</a>
		<div class="row">
			<div class="col-md mt-3">
				<div class="card">	
					<div class="card-header">Temos</div>
					<div class="card-body">
						<table class="table">							
						  	<tr>
						  		<th>Tema</th>
								<th>Veiksmai</th>
					  		</tr>
						  
							<tr th:each="theme: ${themes}">
							  	<td th:text="${theme.theme}"></td>
						  
							  	<td style="width: 200px;">
							  		<a th:href="'/user/theme/update/'+${theme.id}" class="btn btn-success">Redaguoti temą</a>
									<a th:href="'/user/theme/delete/'+${theme.id}" class="btn btn-danger">Pašalinti temą</a>
							  	</td>
						  	</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</body>
</html>